{% extends "base.html" %}

{% block content %}

  <div class="p-5">
    <h1 >Profile</h1>
    <hr>
    <form class="form-inline">
      <input class="form-control mr-3" placeholder="Search" type="text" name="si" value="{{request.GET.se}}">
      <input class="btn btn-info "type="submit"  value="search">

    </form>

    <table class="table my-3 ">
      <thead class="thead-dark">
        <tr>
         <th>Name</th>
         <th>Age</th>
         <th>Gender</th>
         <th>Action</th>
       </tr>
      </thead>
      {% for profile in profile_list %}
      <tr>
        <td>{{profile.name}}</td>
        <td>{{profile.age}}</td>
        <td>{{profile.gender}}</td>
        <td>
           <a class="btn btn-info btn-sm " href="{% url 'social:profileDetail' pk=profile.id %}">Read More</a>
           {% if profile.followed %}
             <a class="btn btn-danger btn-sm ml-3 " href="{% url 'social:unfollow' pk=profile.id%}">Unfollow</a>
          {%else %}
             <a class="btn btn-primary btn-sm ml-3 " href="{% url 'social:follow' pk=profile.id%}">follow</a>
            {% endif%}
        </td>
      </tr>

     {% endfor %}

    </table>
 </div>
{% endblock %}
